<header class="header">
  <nav class="navbar">
    <a href="./index.html" class="logo"
      >VELOCITY<span class="logo-accent">MOTORS</span></a
    >

    <ul class="nav-menu">
      <li><a href="./home/index.html">Stock</a></li>
      <li><a href="./sellcar/index.html">Sell Car</a></li>
      <li><a href="./aboutus/index.html">About Us</a></li>
      <li><a href="./login/index.html">Login/Sign-up</a></li>
    </ul>
  </nav>
</header>

<section class="promo-ticker">
  <div class="ticker-content">
    <p>
      🚨 LIMITED TIME OFFER! 🚨 Veloce Hyper GT is 26% OFF for a limited time!
      <a href="stock.html" class="banner-link">VIEW SPECIAL &rarr;</a> &mdash;
      30% OFF on your next vehicle purchase till Monday! &mdash; Veloce Hyper GT
      is 26% OFF for a limited time!
      <a href="stock.html" class="banner-link">VIEW SPECIAL &rarr;</a> &mdash;
      30% OFF on your next vehicle purchase till Monday!
    </p>
  </div>
</section>
